.App {
  text-align: center;
}

.App-header {
  gap: 5px 30px;
  /* margin-top: 10px; */
  background-color: #b4c6ea;
  /* min-height: 100vh; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: rgb(42, 30, 30); */
  flex-wrap: wrap;
  border: solid 3px #6A7B9E;
}

.nav1 {
  background-color: #f3cbb6;
  min-height: 10vh;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 33, 33);
  border: solid 5px #D6F2CE;
}

a {
  text-decoration: none;
  color: inherit;
  padding: inherit;
}

.nav2 {
  padding: 5px;
}
.footer1 {
  background-color: #f3cbb6;
  min-height: 8vh;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: top; */
  font-size: calc(10px + 2vmin);
  color: rgb(14, 2, 2);
  border: solid 5px #D6F2CE;
}
